body {
  background-color: pink;
}

/*
OVERVIEW SECTION
*/

.overView{
  background-color: white;
  height: 400px;
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.imageGallery{
  background-color: rgb(78, 196, 243);
  display: grid;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 6;
}

.productInfo{
  background-color: rgb(224, 120, 238);
  display: grid;
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 3;
}

.styleSelector{
  background-color: rgb(233, 168, 213);
  display: grid;
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 6;
}

.productOverview{
  height: 150px;
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100;
}
.productOverviewText{
  background-color: rgb(236, 238, 124);
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
}

.productOverviewList{
  background-color: rgb(137, 238, 124);
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
}

#originalPrice{
  text-decoration: line-through;
  color: red;
}

/*RELATED PRODUCTS*/

.related-items-grid-frame {
  margin: 30px 150px;
  /* margin-left: 150px;
  margin-right: 150px; */
  height: 260px;
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: 2.5% 95% 2.5%;
  grid-template-rows: 36% 28% 36%;
}

.related-left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  grid-area: 2/1/3/2;
  background-color: aqua;
}

.related-right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  grid-area: 2/3/3/4;
  background-color: aqua;
}

.related-card-container {
  grid-area: 1/1/4/4;
  background-color: rgb(219, 219, 170);
}



.outfit-left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  grid-area: 2/1/3/2;
  background-color: aqua;
}

.outfit-right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  grid-area: 2/3/3/4;
  background-color: aqua;
}

.outfit-container {
  grid-area: 1/1/4/4;
  background-color: rgb(219, 219, 170);
}

.questions-and-answers {
  display: grid;
  background-color: cornflowerblue;
  overflow: auto;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 100px);
  justify-items: center;
}

/* RATINGS AND REVIEWS */
.ratings-and-reviews {
  display: grid;
  background-color: salmon;
  overflow: auto;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: repeat(8, 100px);
  justify-items: center;
}

.ratings {
  display: grid;
  background-color: peachpuff;
  width: 100%;
  grid-column: 1;
  grid-row: 1 / 6;
}

.reviews {
  display: grid;
  background-color: paleturquoise;
  width: 100%;
  grid-column: 2;
  grid-row: 1 / 9;
}